body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  margin-top: 10px;
}
#projects {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
  margin-top: 10rem;
}
